.cover {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 40vh;
  background-image: url('../../public/images/disney-castle.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;

  &__search-box {
      position: absolute;
      bottom: 10%;
      left: 50%;
      transform: translateX(-50%);
      background: $neutral-light;
      padding: 10px 20px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      gap: 10px;
  }

  &__search-input {
      border: 2px solid $primary-dark;
      border-radius: 4px;
      padding: 10px;
      font-size: 16px;
  }

  &__search-button {
      background: $primary-color;
      color: $neutral-light;
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
          background-color: $primary-dark;
      }
  }
}