.favourites {
  margin: 30px auto;
  padding: 15px;
  border: 2px solid $accent-color;
  border-radius: 10px;
  background-color: $accent-color;

  &__title {
      font-size: 1.8rem;
      text-align: center;
      color: $secondary-dark;
      margin-bottom: 10px;
  }

  &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      list-style: none;
      padding: 0;
  }
}

.favourite {
  position: relative;
  text-align: center;
  border: 2px solid $accent-color;
  border-radius: 8px;
  padding: 10px;
  background-color: $neutral-light;
  transition: transform 0.3s, box-shadow 0.3s;
  max-width: 200px;

  &:hover {
      transform: scale(1.1);
      box-shadow: 0 8px 16px $neutral-gray;
  }

  &__image {
      max-width: 100%;
      border-radius: 8px;
  }

  &__name {
      margin-top: 10px;
      font-size: 1.2rem;
      font-weight: bold;
      color: $neutral-dark;
  }
}

.clear-favourites-btn {
  margin-top: 10px;
  padding: 5px 15px;
  background-color: $neutral-dark;
  color: $neutral-light;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1;
  height: auto;
  display: inline-block;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: $accent-dark;
  }
}



